//	PAGE Style
//==================================================
body {

}

main {

}

//	HEADER Style
//==================================================
header {

}

// -- NAV Style
nav {

}

//	CONTENT Style
//==================================================
article {

}

section {

}

//	SIDEBAR Style
//==================================================
aside {

}

//	FOOTER Style
//==================================================
footer {

}

.top{
    border-bottom: 1px solid $custom-file-border-color;
}

#account, #form-language, #currency, #cart, #search, #wish-list, #search{
    display: inline-block;
}

#search{
    .form-control{
        display: inline-block;
        width: auto;
    }
}

