//	PAGE Style
//==================================================
body {

}

main {

}

//	HEADER Style
//==================================================
header {

}

// -- NAV Style
nav {

}

//	CONTENT Style
//==================================================
article {

}

section {

}

//	SIDEBAR Style
//==================================================
aside {

}

//	FOOTER Style
//==================================================
footer {

}

.top{
    border-bottom: 1px solid $custom-file-border-color;
    font-size: 0;
}

#account, #form-language, #currency, #cart, #search, #wish-list, #search{
    display: inline-block;
}

#search{
    background: $gray-lighter;
    .form-control{
        background: inherit;
        display: inline-block;
        width: 300px;
        @include box-shadow(none);
        @extend .btn;
        text-align: left;
        &:focus{

        }
    }
}

#account{
    .btn{
        background: transparent;
        padding-left: 0;
    }
}

#form-language, #currency{
    .btn{
        color: $gray-light;
        &:hover{
            color: $brand-primary;
        }
    }
    span{
        & + span{
            background: transparent;
        }
    }
}

#cart, #search{
    button{
        background: $brand-primary;
        color: $body-bg;
    }
}

